* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  max-width: 65ch;
  margin: 0 auto;
  padding: 2rem 1rem;
  background: #fff;
  color: #000;
}

h1,
h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  margin-top: 0;
}

h2 {
  font-size: 1.25rem;
  border-bottom: 1px solid #000;
  padding-bottom: 0.25rem;
}

p {
  margin-bottom: 1rem;
}

img {
  display: block;
  max-width: 150px;
  margin-bottom: 1rem;
}

ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

a {
  color: #00f;
}

a:visited {
  color: #551a8b;
}

a:hover {
  text-decoration: none;
}
